:root{
    /* colours*/
    --color-text:#ffff;
    --color-primary:#576cbc;
    --color-secendory:#19376d;
    --color-dark:#0b2447;
    --color-bg: #04152b;

    /* fonts*/
    --font-roboto:"Roboto";





}